numpy
# pytorch  # for anaconda, please refer to pytorch.org for installation
scipy
matplotlib
tensorboardX
easydict

opencv-contrib-python==4.2.0.32
h5py
tqdm

# 2D data loader
# cyvlfeat  # conda install -c menpo cyvlfeat
